<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="sidebar">
  <a (click)="User()"><i class="fa fa-fw fa-user" style="padding-top: 25px;"></i> Student</a>
  <a (click)="Mentor()"><i class="fa fa-fw fa-graduation-cap" style="padding-top: 15px;" aria-hidden="true"></i> Mentor</a>
  <a (click)="Skill()"><i class="fa fa-fw fa-envelope" style="padding-top: 15px;"></i> Skill</a>
 
  <div class="dropdown" ><a  style="cursor: pointer;"  class="dropbtn" style="font-size: 20px;"><i class="fa fa-fw fa-book"style="padding-top: 15px;"></i> Training</a>
    <div class="dropdown-content">
    <a routerLink="complete" style="cursor:pointer">Completed Trainings</a>
    <a  routerLink="current"  style="font-size: 20px;cursor: pointer;">Current Trainings</a>
    </div></div>
</div>

<h1 style="text-align: center;
color: white;">Welcome ADMIN</h1>

<div class="container" *ngIf="check()==1">
     <p style="font-size: large;color: #f1f1f1;">Student Details</p>          
    <table class="table table-hover" style="background: white;">
      <thead style="background: #800080a6;">
        <tr>
          <th>UserId</th>
          <th>UserName</th>
          <th>Email</th>
          <th>ContactNo</th>
          <th>Active Status</th>
          <th>Block/UnBlock</th>
          <th>Delete</th>

        </tr>
      </thead>
      
            <tbody *ngFor="let item of list">
                    <tr>
                        <td>{{item.userId}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.contactNo}}</td>
                        <td>{{item.active}}</td>
                        <td *ngIf="item.active==='True'"><button style="background: blue; width: 70px; color: white;  border-radius: 8px;  height: 28px; margin-left: 14px;" (click)="BlockUser(item.userId);"> Block</button></td>
                        <td *ngIf="item.active==='False'"><button style="background: red;background: red;  width: 70px;  color: white;  border-radius: 8px;  height: 28px;    margin-left: 14px;"(click)="BlockUser(item.userId);"> UnBlock</button></td>

                        <td><button (click)="DeleteUser(item.userId)"><a><i class="fa fa-trash" aria-hidden="true"> Delete</i></a></button></td>
                        
                    </tr>
                </tbody>
       
    </table>
  </div>

  <div class="container" *ngIf="check()==2">
        <p style="font-size: large;color: #f1f1f1;">Mentor Details</p>          
        <table class="table table-hover" style="background: white;">
          <thead style="background: #800080a6;">
            <tr>
              <th>MentorId</th>
              <th>MentorName</th>
              <th>Email</th>
              <th>ContactNo</th>
              <th>TimeSlot</th>
              <th>Technology</th>
              <th>Experience</th>
              <th>Active Status</th>
              <th>Block/UnBlock</th>
              <th>Delete</th>
    
            </tr>
          </thead>
          
                <tbody *ngFor="let item1 of list1">
                        <tr>
                            <td>{{item1.mentorId}}</td>
                            <td>{{item1.mentorName}}</td>
                            <td>{{item1.email}}</td>
                            <td>{{item1.contactNo}}</td>
                            <td>{{item1.timeSlot}}</td>
                            <td>{{item1.technologies}}</td>
                            <td>{{item1.yearsOfExperience}}</td>
                            <td>{{item1.active}}</td>
                            <td *ngIf="item1.active==='True'"><button style="background: blue; width: 70px; color: white;  border-radius: 8px;  height: 28px; margin-left: 14px;" (click)="BlockMentor(item1.mentorId);"> Block</button></td>
                         <td *ngIf="item1.active==='False'"><button style="background: red;background: red;  width: 70px;  color: white;  border-radius: 8px;  height: 28px;    margin-left: 14px;"(click)="BlockMentor(item1.mentorId);"> UnBlock</button></td>
                            <td><button (click)="DeleteMentor(item1.mentorId)"><a><i class="fa fa-trash" aria-hidden="true"> Delete</i></a></button></td>
                        </tr>
                    </tbody>
           
        </table>
      </div>




      <div class="container" *ngIf="check()==3" >
            <p style="font-size: large;color: #f1f1f1;">Skill Details</p>      
            <button (click)="showDialog = !showDialog" type="button" style="float: right;margin-bottom: 15px;" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add Skill</button><br>

            <table class="table table-hover" style="background: white;">
                   

              <thead style="background: #800080a6;">
                
                <tr>
                  <th>SkillId</th>
                  <th>SkillName</th>
                  <th>TOC</th>
                  <th>Prerequisites</th>
                  <th>Fees</th>
                  <th>Duration</th>
                  <th>Actions</th>
                </tr>
              </thead>
              
                    
                        <tbody *ngFor="let item3 of list2">
                                <tr>
                                    <td>{{item3.skillId}}</td>
                                    <td>{{item3.skillName}}</td>
                                    <td>{{item3.toc}}</td>
                                    <td>{{item3.prerequisites}}</td>
                                    <td>{{item3.fees}}</td>
                                    <td>{{item3.duration}}</td>

                                    <td><button (click)="showDialog1 = !showDialog1; GetSkillById(item3.skillId)"><a><i class="fa fa-edit" aria-hidden="true"> Edit</i></a></button></td>
                                </tr>
                            </tbody>
               
            </table>
          </div>

          
            



            <app-dialog [(visible)]="showDialog">
                    <div class="wrapper wrapper--w790">
                          <div class="card card-5">
                          <div class="card-heading">
                          <h2 class="title" style="color:white;padding-left: 35px; font-size: 25px; ">Skill Details</h2>
                          </div>
                          <div class="card-body">
                          <form method="POST">
                         <div class="form-row">
                          <div class="name">Skill Name</div>
                          <div class="value">
                          <div class="input-group">
                          <input class="input--style-5" type="text" name="skillName" [(ngModel)]="item2.skillName">
                          </div>
                          </div>
                          </div>
                          <div class="form-row">
                          <div class="name">TOC</div>
                          <div class="value">
                          <div class="input-group">
                          <textarea class="input--style-5" type="text" name="toc" [(ngModel)]="item2.toc"></textarea>
                          </div>
                          </div>
                          </div>
                          <div class="form-row">
                          <div class="name">Prerequisites</div>
                          <div class="value">
                          <div class="input-group">
                          <input class="input--style-5" type="text" name="prerequisites"[(ngModel)]="item2.prerequisites">
                          </div>
                          </div>
                          </div>
                          <div class="form-row">
                          <div class="name">Fees</div>
                          <div class="value">
                          <div class="input-group">
                          <input class="input--style-5" type="number" name="fees" [(ngModel)]="item2.fees">
                          </div>
                          </div>
                          </div>
                          <div class="form-row">
                            <div class="name">Duration</div>
                            <div class="value">
                            <div class="input-group">
                            <input class="input--style-5" type="number" name="duration" [(ngModel)]="item2.duration">
                            </div>
                            </div>
                            </div>
                          <div>
                          <button class="btn btn--radius-2 btn--red"  (click)="AddSkill()" type="submit">Save</button>
                         
                          <button (click)="showDialog = !showDialog" class="btn btn--radius-2 btn--red" style="margin-left: 100px;">Close</button>
                          </div>
                        </form>
                          </div>
                          </div>
                          </div>
                          </app-dialog>

                          <app-update-dialog [(visible)]="showDialog1">
                            <div class="wrapper wrapper--w790">
                                  <div class="card card-5">
                                  <div class="card-heading">
                                  <h2 class="title" style="color:white;padding-left: 35px; font-size: 25px; ">Skill Details</h2>
                                  </div>
                                  <div class="card-body">
                                  <form method="POST">
                                 <div class="form-row">
                                  <div class="name">Skill Name</div>
                                  <div class="value">
                                  <div class="input-group">
                                  <input class="input--style-5" type="text" name="skillName" [(ngModel)]="item3.skillName">
                                  </div>
                                  </div>
                                  </div>
                                  <div class="form-row">
                                  <div class="name">TOC</div>
                                  <div class="value">
                                  <div class="input-group">
                                  <textarea class="input--style-5" type="text" name="toc" [(ngModel)]="item3.toc"></textarea>
                                  </div>
                                  </div>
                                  </div>
                                  <div class="form-row">
                                  <div class="name">Prerequisites</div>
                                  <div class="value">
                                  <div class="input-group">
                                  <input class="input--style-5" type="text" name="prerequisites"[(ngModel)]="item3.prerequisites">
                                  </div>
                                  </div>
                                  </div>
                                  <div class="form-row">
                                  <div class="name">Fees</div>
                                  <div class="value">
                                  <div class="input-group">
                                  <input class="input--style-5" type="number" name="fees" [(ngModel)]="item3.fees">
                                  </div>
                                  </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="name">Duration</div>
                                    <div class="value">
                                    <div class="input-group">
                                    <input class="input--style-5" type="number" name="duration" [(ngModel)]="item3.duration">
                                    </div>
                                    </div>
                                    </div>
                                  <div>
                                  <button class="btn btn--radius-2 btn--red"  (click)="EditSkill()" type="submit">Update</button>
                                 
                                  <button (click)="showDialog1 = !showDialog1" class="btn btn--radius-2 btn--red" style="margin-left: 100px;">Close</button>
                                  </div>
                                </form>
                                  </div>
                                  </div>
                                  </div>
                                  
                                  </app-update-dialog>
                                  
</body>
</html> 
