
<br>
<div class="container">
	<p style="font-size: large;color: #f1f1f1;">Completed Trainings</p>          
   <table class="table table-hover" style="background: white;">
	 <thead style="background: #800080a6;">
	   <tr>
		 <th>Training Name</th>
		 <th>Start Date</th>
		 <th>End Date</th>
		 <th>Status</th>
		 <th>Progress</th>
		 <th>Rating</th>
		 <th>Edit Rating</th>

	   </tr>
	 </thead>
	 
		   <tbody *ngFor="let item of list3">
				   <tr>
					   <td>{{item.trainingName}}</td>
					   <td>{{item.startDate}}</td>
					   <td>{{item.endDate}}</td>
					   <td>{{item.status}}</td>
					   <td>{{item.progress}}</td>
                       <td>{{item.rating}}</td>
					   <td><button><a><i class="fa fa-trash" aria-hidden="true"> Edit Rating</i></a></button></td>
					   
				   </tr>
			   </tbody>
	  
   </table>
 </div>
